<p id="notice"><%= notice %></p>

<h1>Occupants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Roomnr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occupants.each do |occupant| %>
      <tr>
        <td><%= occupant.name %></td>
        <td><%= occupant.email %></td>
        <td><%= occupant.roomnr %></td>
        <td><%= link_to 'Show', occupant %></td>
        <td><%= link_to 'Edit', edit_occupant_path(occupant) %></td>
        <td><%= link_to 'Destroy', occupant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occupant', new_occupant_path %>
